<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleResultats.css') }}">
</head>
<body>
    <div id="papa_resultats">
        <h1 style="text-decoration: underline;">VOTRE RÉSULTAT</h1>
        <div id="nom_indice">
            <h2>LE NOM DE L'INDICE EST:</h2>
            <h2><span style="color: blue ;font-size: 45px;">{{ recup['nom'] }}</span></h2>
        </div>
        <div id="prix_indice">
            <h2>LE PRIX DE L'ACTION DE L'INDICE {{ recup['nom'] }} EST DE:</h2>
            <h2><span style="color: blue ;font-size: 45px;">{{ recup['prix'] }} $</span></h2>
        </div>
        <div id="chart">
            <p style="font-weight: bold;font-size: 25px;">CLIQUER SUR LE LIEN CI-DESSOUS POUR VOIR L'ÉVOLUTION DU PRIX DE L'ACTION DE L'INDICE {{ recup['nom'] }}</p> 

            <a href="{{ recup['chart'] }}"><h2 style="color: blue ;">Évolution Graphique de l'action</h2></a>
        </div>
    </div>
</body>
</html>